body{
    background-color:white;    
}

.center{
    text-align: center;
}

    

.border{
    border: 5px solid rgb(27, 13, 13);
    margin: 2px;
   
    
    
}
nav a{
    text-decoration: none;
    padding: 100px;
    padding-bottom: 20px;
    margin-left:5px;
    margin-right:5px;
    text-align: center;
    color:black;
    font-weight:bold;
}

nav a:hover{
    color:#f7f4ea;
}

.navborder{
    border: 3px solid #f6fff8;
    margin: 15px;
    background-color: #dee2e6;
    padding:10px;
}

h1{
    color:rgb(20, 20, 24);
    text-align: center;
    font-size: 50px;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 4px 3px 3px rgb(143, 142, 142);
}
#quote-1{
    margin-left:100px;
    margin-right:100px;
    border-radius: 1%;
    padding: 5px;
        box-sizing: border-box;
     box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);            
}
/* id selector */
#para1{
    font-family:'Courier New', Courier, monospace;
    margin: 20px;
    color:rgba(2, 10, 37, 0.733);
}
/* class selector */
.layout{
    margin:50px;
}
    
/* selector */
img{
    border: 5px solid #8b8c89;
    padding:10px;
    background-color: rgb(250, 242, 242);
    border-radius:50%;
    
}
ol a{
    color:red;
    text-decoration: none;
}

/*descendant selector*/
